.MainContainer {
  display: flex;
}

.RecipeListContainer {
  // float: left;
  flex: 1;
  max-height: 90vh;
  overflow: scroll;
}

.SingleRecipeContainer {
  flex: 4;
}

.PageContainer {
  min-height: 70vh;
}